@page "/catalog"

@using Newtonsoft.Json;
@using OnixCatalogBlazorApp.Extensions
@using OnixCatalogBlazorApp.Models
@using OnixCatalogBlazorApp.Services

@inject ICatalogService CatalogService
@inject OnixCatalogBlazorApp.Proxy.CacheStorageProxy CacheStorageProxy

<h1>Catalog</h1>

@if (_books == null)
{
    <p><em>Loading...</em></p>
}
else if (!_books.Any())
{
    <p><em>No books exist.  Please add some.</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Remove</th>
                <th>
                    <span class="sort-link" @onclick=@(() => SortTable("DateCreated"))>Date</span>
                    <span>@(GetSortStyle("DateCreated"))</span>
                </th>
                <th>
                    <span class="sort-link" @onclick=@(() => SortTable("Title"))>Title</span>
                    <span>@(GetSortStyle("Title"))</span>
                </th>
                <th>
                    <span class="sort-link" @onclick=@(() => SortTable("PrimaryBISAC"))>Primary BISAC</span>
                    <span>@(GetSortStyle("PrimaryBISAC"))</span>
                </th>
                <th>Is Published</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in _books)
            {
            <tr>
                <td><button @onclick="(() => RemoveBook(item?.Title ?? string.Empty))"><i class="oi oi-trash"></i></button></td>
                <td>@item.DateCreated</td>
                <td>@item.Title</td>
                <td>@item.PrimaryBISAC</td>
                <td>
                    @if (item.IsPublished)
                    {
                        <input type=checkbox checked />
                    }
                    else
                    {
                        <input type=checkbox />
                    }
                </td>
            </tr>
            }
        </tbody>
    </table>
}

@if (_books != null)
{
    <InputFile OnChange="@LoadFiles" multiple />
}

@code{

    private const long maxFileSize     = 1024 * 1000;
    private const  int maxAllowedFiles = 3;

    private static bool _initializedCatalog = false;

    List<BookItem> _books = new List<BookItem>();

    private bool   _isSortedAscending  = false;
    private string _currentSortColumn;

    protected override void OnInitialized()
    {
        _books = CatalogService.GetBooks();
    }

    protected override async Task OnInitializedAsync() 
    {
        if (!_initializedCatalog)
        {
            var keys = await CacheStorageProxy.GetAllCatalogKeysAsync();
            foreach (var key in keys)
            {
                var message = new HttpRequestMessage(HttpMethod.Get, key);

                var book = await CacheStorageProxy.GetAsync(message);

                if (book != null)
                {
                    BookItem bookItem = JsonConvert.DeserializeObject<BookItem>(book);
                    if (bookItem != null)
                    {
                        _books.Add(bookItem);
                    }
                }
            }

            _initializedCatalog = true;
        }
    }

    private async Task LoadFiles(InputFileChangeEventArgs e)
    {
        foreach (var file in e.GetMultipleFiles(maxAllowedFiles))
        {
            try
            {
                using (var readStream = file.OpenReadStream(maxFileSize))
                {
                    var streamReader = new System.IO.StreamReader(readStream);

                    var onixContent = await streamReader.ReadToEndAsync();

                    _books = CatalogService.Add(onixContent);

                    foreach (var book in _books)
                    {
                        var message = book.GenerateGetRequestMessage();

                        var response = new HttpResponseMessage(System.Net.HttpStatusCode.Created);
                        response.Content = new StringContent(book.Serialize());

                        await CacheStorageProxy.StoreAsync(message, response);
                    }
                }
            }
            catch (Exception ex)
            {
                // NOTE: Log this message
            }
        }
    }

    private async Task RemoveBook(string title)
    {
        if (!String.IsNullOrEmpty(title))
        {
            var message = title.GenerateGetRequestMessage();
            await CacheStorageProxy.RemoveAsync(message);

            _books = CatalogService.Delete(title);
        }
    }

    private string GetSortStyle(string columnName)
    {
        if (_currentSortColumn != columnName)
        {
            return string.Empty;
        }
        if (_isSortedAscending)
        {
            return "▲";
        }
        else
        {
            return "▼";
        }
    }

    private void SortTable(string columnName)
    {
        if (columnName != _currentSortColumn)
        {
            //We need to force order by descending on the new column
            _books = _books.OrderBy(x => x.GetType().GetProperty(columnName).GetValue(x, null)).ToList();
            _currentSortColumn = columnName;
            _isSortedAscending = true;

        }
        else //Sorting against same column but in different direction
        {
            if (_isSortedAscending)
            {
                _books = _books.OrderByDescending(x => x.GetType().GetProperty(columnName).GetValue(x, null)).ToList();
            }
            else
            {
                _books = _books.OrderBy(x => x.GetType().GetProperty(columnName).GetValue(x, null)).ToList();
            }

            _isSortedAscending = !_isSortedAscending;
        }
    }

}
